@page "/"
@using Blazor.Components
@inject ISearchService SearchService

<PageTitle>Search</PageTitle>

<div class="text-center">
    <h3>Gaagle</h3>
</div>

<div class="col col-6 mx-auto">
    <div class="input-group my-5 mx-auto w-50">
        <input type="text" class="form-control" placeholder="Search" aria-label="Search" @bind="_input" @bind:event="oninput" @onkeypress="HandleKeyPress">

        <button class="btn btn-primary px-4" type="button" @onclick="Search">
            <i class="bi bi-search"></i>
        </button>
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="False">
            <span class="visually-hidden">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
        
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" checked="@AdvancedSettings.IsCaseSensitive" @onchange="ToggleCaseSensitive">
            <label class="form-check-label" for="flexSwitchCheckDefault">Case sensitive</label>
        </div>

    </div>
    
    <div>
        <SearchResults Results="_results"></SearchResults>
    </div>

</div>


@code {
    private string? _input;

    private SearchResultDTO? _results;

    private async void Search()
    {
        var query = _input.QuerySplitter();

        _results = await SearchService.SearchAsync(query);

        StateHasChanged();
    }

    private void HandleKeyPress(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            Search();
        }
    }

    private void ToggleCaseSensitive(ChangeEventArgs e)
    {
        AdvancedSettings.IsCaseSensitive = (bool)e.Value;

        Console.WriteLine($"IsCaseSensitive: {AdvancedSettings.IsCaseSensitive}");
    }

}